/**
 * @fileoverview Override styles for Bitcoin Black Friday. The 'bbf' class
 * applied to the <body> tag allows for adding specificity to override
 * semantic/fromantic styles.
 */
/** TOP NAV. */
.top-nav.ui.divided.horizontal.list {
  display: flex;
  margin-right: 2rem;
  justify-content: flex-end;
}

.top-nav.ui.divided.horizontal.list>.item {
  color: white;
  border-right: 1px solid white;
}

.top-nav.ui.divided.horizontal.list>.item:last-child {
  border-right: none;
}

/** HEADER. */
.bbf header {
  background: black;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: center;
}

.bbf h1.ui.header {
  font-size: 5rem;
  line-height: 1;
  margin: 2rem 0;
}

.bbf header h1 span {
  color: white;
}
.bbf header h1 span:first-child {
  color: #f2711c;
}
.bbf header h1 span:last-child {
  font-size: 0.4em;
}

/** NAV MENU. **/
nav {
  background-color: #f2711c;
}

.ui.menu {
  border-radius: 0;
  margin: 0;
}

.ui.menu .item {
  text-transform: capitalize;
}

/** DEAL ITEMS. **/
.ui.grid {
  margin: 0;
}

.ui.items {
  margin: 0;
}

.ui.items > .item .extra {
  list-style-type: none;
}

.ui.items > .item .meta.discount {
  color: #a02c13;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.ui.items > .item .extra li {
  color: #a5a5a5;
  display: inline-block;
  padding: 0em 0.5em;
  font-size: 0.8em;
  border-radius: 3px;
  border: 1px dashed #a5a5a5;
  line-height: 1.15em;
}
