/**
 * @fileoverview Override styles for Bitcoin Black Friday. The 'bbf' class
 * applied to the <body> tag allows for adding specificity to override
 * semantic/fromantic styles.
 */

/** STICKY FOOTER */
.pusher {
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}

/** TOP NAV. */
.top-nav.ui.divided.horizontal.list {
  display: flex;
  margin-right: 2rem;
  justify-content: flex-end;
}

.top-nav.ui.divided.horizontal.list > .item {
  color: white;
  border-right: 1px solid white;
}

.top-nav.ui.divided.horizontal.list > .item:last-child {
  border-right: none;
}

.ui.inverted.main.menu {
  background-color: black;
  display: none;
}

@media only screen and (max-width: 767px) {
  .ui.inverted.main.menu {
    display: inherit;  /* Only visible on mobile. */
  }
}

/** HEADER. */
.bbf header {
  background: black;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  min-height: 200px;
  justify-content: center;
}

.bbf h1.ui.header {
  font-size: 5rem;
  line-height: 1;
  margin: 2rem 0;
}

.bbf header h1 span {
  color: white;
}
.bbf header h1 span:first-child {
  color: #f2711c;
}
.bbf header h1 span:last-child {
  font-size: 0.4em;
  margin-left: -21px;
}

/** MAIN CONTENT. **/
main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 400px;
}

/** LANDING PAGE. **/
.landing-page {
  background: black;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.landing-page .ui.header {
  color: white;
}

/** NAV MENU. **/
nav {
  background-color: #f2711c;
  display: none;
}

@media only screen and (min-width: 767px) {
  nav {
    display: inherit;  /* Only visible on desktop. */
  }
}

.ui.menu {
  border-radius: 0;
  margin: 0;
}

.ui.menu .item {
  text-transform: capitalize;
}

/** DEAL ITEMS. **/
.ui.grid {
  margin: 0;
}

.ui.items {
  margin: 0;
}

.ui.items > .item .extra {
  list-style-type: none;
}

.ui.items > .item .meta.discount {
  color: #a02c13;
  font-size: 2.6rem;
  font-weight: bold;
  margin: 0;
}
.ui.items>.item .extra{
  margin: 0 .5rem 0 0;
}
.ui.items > .item .extra li {
  color: #a5a5a5;
  display: inline-block;
  padding: 0em 0.5em;
  font-size: 0.8em;
  border-radius: 3px;
  border: 1px dashed #a5a5a5;
  line-height: 1.15em;
}
.ui.items>.item>.content>.description {
  margin-top:0;
}
